@import url('./fonts_style.css');
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    width: 1440px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FFFCF5 !important;
    flex-direction: column;
}
nav{
    width:100%;
    height: 100px;
    
  
}
.navbar-expand-lg .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-body-tertiary{
    background-color: #FFFCF5 !important;
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1200px !important;
    height: 100px;
   
    

}
div#navbarSupportedContent.collapse.navbar-collapse{
    display: flex !important;
    align-items: center;
    justify-content: end;
    width: 200px;

}
.mb-2{
    margin: 0 !important;
}
nav ul{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 !important;
}
.navbar-nav {

    --bs-nav-link-padding-y: 0rem !important;
}
.nav-link{
    height: 30px;
    display: flex;
    display: flex;
    align-items: center;
    color: #B4785F !important;
    text-decoration: underline  !important;
    

}
.navbar-brand{
    color: #B4785F !important;
}
nav a button{
    border-radius: 5px;
    width: 118px;
    height: 35px;
    text-decoration: none;
    background-color:#FDE8D9;
    color: #B4785F;
    border: none;
    color: #B4785F !important;
}
.section-about{
    display: flex;
    background-image: url(./img/Vector\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1323px;

}
.section-about .right{
    display: flex;
    transform: translateX(-175px);
}
.section-about .right img{
    width:230px;
    height: 297px;
}
.section-about .right img#foto1 {
    transform: translateY(70px) translateX(111px);
    z-index: 1;
}
.section-about .right img#foto2{
    width: 372px;
    height:  472px;
    align-self: center;
    transform: translateY(-165px);
    z-index: 0;
    
}
.section-about .right img#foto3{
    transform: translateY(600px) translateX(-104px);
}
.section-about .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 624px;
    height: 465px;
    margin-left: 150px;
    margin-top: 200px;
}
.section-about .left h2{
    margin-bottom: 20px;
    font-family: "jose";
    font-size: 60px;
}
.section-about .left h5{
    margin-bottom: 100px;
    font-family: "inter";
    font-weight: 85px;
    color: #828282;
}
.section-about .left button{
    height: 62px;
    width: 260px;
}
.section-about .left .text{
    font-family: "Tenor";
    font-size: 20px;
    width: 612px;
}
.section-skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}
.section-skills .cont-right img{
    width: 300px;
    height: 300px;
}
.section-skills .s-cont .cont-left img{
    width: 300px;
    height: 300px;
}
.section-skills .s-cont .cont-left{
width: 300px;
margin-right: 250px;
}
.section-skills.text{
    width: 400px;
}
div.f-cont {
    background-image: url(./img/back.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1294px;
    height: 662px;
 
}
div.f-cont .cont-left{
    margin-right: 250px;
}
.section-skills h3{
    font-family: "jose";
    font-size: 50px;
}
.section-skills .text{
    width: 392px;
    font-size: 18px;
    font-family: "Tenor";
}
div.s-cont {
    background-image: url(./img/back2.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1294px;background-repeat: no-repeat;
    background-size: cover;
    height: 662px;
}
.section-portfolio{
    background:#FDE8D9;
    width: 300%;
    height: 1391px;
    box-shadow: 40px 20px 20px 40px #FDE8D9;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
margin-bottom: 100px;
}
.section-portfolio .right{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-portfolio .left{
    width: 373px;
    margin-right: 100px;
}
.section-portfolio h2{
    font-size: 60px;
    font-family: "jose";
}
.section-portfolio h5{
    font-size: 20px;
    font-family: "inter";
    font-weight: 100;
    color: #828282;
    margin-bottom: 120px;
}
.section-portfolio .text{
    font-family: "Tenor";
    font-size: 20px;
}
.section-portfolio .text-portf-1{
    margin-bottom: 20px;
}
.section-portfolio .text-portf-2{
    margin-bottom: 100px;
}
.section-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.section-contacts h2{
    font-family: "jose";
    font-size: 60px;
}
.section-portfolio button{
    width: 252px;
    height: 62px;
    border-radius: 5px;
    color: #FDE8D9;
    background-color: #B4785F;
    border: none;
}
.social{
    display: flex;
    flex-direction: column;
    margin: 10px 70px;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.social a{
    color: #0D0B21;
    font-family: "Tenor";
}
.social img{
    width: 100px;
    height: 100px;
}
.kontakt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.kontakt h2{
    font-size: 60px;
    font-family: "jose";
    font-weight: 700;
}
.section-form{
    background-color: #FDE8D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 40px 20px 20px 40px #FDE8D9;
    width: 400%;
    padding: 50px;
}
.section-form h2{
    font-family: "jose";
    font-size: 60px;
}
.section-form h5{
    font-family: "inter";
    font-size: 20px;
    color: #828282;
    margin-bottom: 30px;
}
.section-form button{
    width: 252px;
    height: 62px;
    border-radius: 5px;
    color: #FDE8D9;
    background-color: #B4785F;
    border: none;
    margin-top: 30px;
}
.mini-form{
    width: 393px;
}
.mini-form input{
    width: 100%;
}
.mini-form .col-md-4{
    width: 100%;
    margin-bottom: 10px;
}.mini-form input#no_int{
    width: 20px;
    height: 20px;
}
.mini-form input#int{
    border: 2px solid #B4785F;
    height: 50px;
}
.mini-form label{
    font-family: "tenor";
    font-size: 15px;
}
footer{
    width: 400%;
    background-color: #B4785F;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-footer{
    width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    

}
.section-footer .right-con {
    height: 125px;
    width: 71px;
    color: #FDE8D9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-footer .left-con {
    color: #FDE8D9;
}
.section-footer .mid-con{
    margin: 0 305px;

}
.section-footer{
    font-family: "inter";
    padding: 20px 0;
}
.section-footer p{
    margin: 0;
}