@import url('./fonts_style.css');
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    width: 1440px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FFFCF5 !important;
    flex-direction: column;
}
nav{
    width:100%;
    height: 100px;
    
  
}
.navbar-expand-lg .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-body-tertiary{
    background-color: #FFFCF5 !important;
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1200px !important;
    height: 100px;
   
    

}
div#navbarSupportedContent.collapse.navbar-collapse{
    display: flex !important;
    align-items: center;
    justify-content: end;
    width: 200px;

}
.mb-2{
    margin: 0 !important;
}
nav ul{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 !important;
}
.navbar-nav {

    --bs-nav-link-padding-y: 0rem !important;
}
.nav-link{
    height: 30px;
    display: flex;
    display: flex;
    align-items: center;
    color: #B4785F !important;
    text-decoration: underline  !important;
    

}
.navbar-brand{
    color: #B4785F !important;
}
nav a button{
    border-radius: 5px;
    width: 118px;
    height: 35px;
    text-decoration: none;
    background-color:#FDE8D9;
    color: #B4785F;
    border: none;
    color: #B4785F !important;
}
.section-about{
    display: flex;
    background-image: url(./img/Vector\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1323px;

}
.section-about .right{
    display: flex;
    transform: translateX(-175px);
}
.section-about .right img{
    width:230px;
    height: 297px;
}
.section-about .right img#foto1 {
    transform: translateY(70px) translateX(111px);
    z-index: 1;
}
.section-about .right img#foto2{
    width: 372px;
    height:  472px;
    align-self: center;
    transform: translateY(-165px);
    z-index: 0;
    
}
.section-about .right img#foto3{
    transform: translateY(600px) translateX(-104px);
}
.section-about .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 624px;
    height: 465px;
    margin-left: 150px;
    margin-top: 200px;
}
.section-about button{
    width: 252px;
    height: 62px;
    border-radius: 5px;
    color: #FDE8D9;
    background-color: #B4785F;
    border: none;
    margin-top: 100px;
}
.section-about .left h2{
    margin-bottom: 20px;
    font-family: "jose";
    font-size: 60px;
}
.section-about .left h5{
    margin-bottom: 100px;
    font-family: "inter";
    font-weight: 85px;
    color: #828282;
}
.section-about .left button{
    height: 62px;
    width: 260px;
}
.section-about .left .text{
    font-family: "Tenor";
    font-size: 20px;
    width: 612px;
}
.section-skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}
.section-skills .cont-right img{
    width: 300px;
    height: 300px;
}
.section-skills .s-cont .cont-left img{
    width: 300px;
    height: 300px;
}
.section-skills .s-cont .cont-left{
width: 300px;
margin-right: 250px;
}
.section-skills.text{
    width: 400px;
}
div.f-cont {
    background-image: url(./img/back.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1294px;
    height: 662px;
 
}
div.f-cont .cont-left{
    margin-right: 250px;
}
.section-skills h3{
    font-family: "jose";
    font-size: 50px;
}
.section-skills .text{
    width: 392px;
    font-size: 18px;
    font-family: "Tenor";
}
div.s-cont {
    background-image: url(./img/back2.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1294px;background-repeat: no-repeat;
    background-size: cover;
    height: 662px;
}
.section-portfolio{
    background:#FDE8D9;
    width: 600%;
    height: 1391px;
    box-shadow: 40px 20px 20px 40px #FDE8D9;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
margin-bottom: 100px;
}
.section-portfolio .right{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-portfolio .left{
    width: 373px;
    margin-right: 100px;
}
.section-portfolio h2{
    font-size: 60px;
    font-family: "jose";
}
.section-portfolio h5{
    font-size: 20px;
    font-family: "inter";
    font-weight: 100;
    color: #828282;
    margin-bottom: 120px;
}
.section-portfolio img{
    transition: 1s;
   }
   .section-portfolio img:hover {
    transform: scale(1.1);
   }

.section-portfolio .text{
    font-family: "Tenor";
    font-size: 20px;
}
.section-portfolio .text-portf-1{
    margin-bottom: 20px;
}
.section-portfolio .text-portf-2{
    margin-bottom: 100px;
}
.section-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.section-contacts h2{
    font-family: "jose";
    font-size: 60px;
}
.section-portfolio button{
    width: 252px;
    height: 62px;
    border-radius: 5px;
    color: #FDE8D9;
    background-color: #B4785F;
    border: none;
}
.social{
    display: flex;
    flex-direction: column;
    margin: 10px 70px;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.social a{
    color: #0D0B21;
    font-family: "Tenor";
}
.social img{
    width: 100px;
    height: 100px;
}
.kontakt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.kontakt h2{
    font-size: 60px;
    font-family: "jose";
    font-weight: 700;
}
.section-form{
    background-color: #FDE8D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 40px 20px 20px 40px #FDE8D9;
    width: 600%;
    padding: 50px;
}
.section-form h2{
    font-family: "jose";
    font-size: 60px;
}
.section-form h5{
    font-family: "inter";
    font-size: 20px;
    color: #828282;
    margin-bottom: 30px;
}
.section-form button{
    width: 252px;
    height: 62px;
    border-radius: 5px;
    color: #FDE8D9;
    background-color: #B4785F;
    border: none;
    margin-top: 30px;
}
.mini-form{
    width: 393px;
}
.mini-form input{
    width: 100%;
}
.mini-form .col-md-4{
    width: 100%;
    margin-bottom: 10px;
}.mini-form input#no_int{
    width: 20px;
    height: 20px;
}
.mini-form input#int{
    border: 2px solid #B4785F;
    height: 50px;
}
.mini-form label{
    font-family: "tenor";
    font-size: 15px;
}
footer{
    width: 600%;
    background-color: #B4785F;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-footer{
    width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    

}
.section-footer .right-con {
    height: 125px;
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-footer h2{
    color: #FDE8D9;
    font-family: "inter";
}
.section-footer .mid-con{
    margin: 0 305px;

}
.section-footer{
    font-family: "inter";
    padding: 20px 0;
}
.section-footer p{
    margin: 0;
    
}
.section-footer a{
    text-decoration: none;
    color: #FDE8D9;
    font-family: "inter";
}
@media (max-width: 1200px) {
   
    .container{
        width: 720px;
        overflow: hidden;
    }
    body{
        width: 720px;

    }
    nav ul{
        display: none !important;
    }
    nav button:active + ul{
        display: block;
    }
    .container-fluid{
        width: 720px !important;
    }
    .section-about{
        width: 920px;
        height: 1000px;
        overflow: hidden;
    }
    .section-about .left{
        margin-left: 70px ;
        margin-top: 100px;
    }
    .section-about h2{
        font-size: 40px !important;
        margin: 0px !important;
    }
    
    .section-about h5{
        margin-bottom:50px !important;
    }
    div.text.text1{
        font-size: 15px !important;
        width: 400px !important;
    }
    .section-about .right img#foto1{
        width: 120px;
        height: 150px;
            transform: translateY(130px) translateX(111px);
    }
    .section-about .right img#foto2{
        width: 272px;
        height: 272px;
    }
    .section-about .right img#foto3{
        width: 120px;
        height: 150px;
        transform: translateY(400px) translateX(-104px);
    }
    .section-about .right {
        display: flex;
        transform: translate(0);
        width: auto;
    }
    .section-about .left button {
        height: 52px;
        width: 200px;
        margin-top: 50px;

    }
    div.f-cont{
        width: 920px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 562px;
    
    }
    div.s-cont{
        background-size: contain;
        width: 920px;
    }
    .section-skills .cont-left{
        margin-right: 80px !important;
    }
    .section-skills h3{
        font-size: 40px;
    }
    .section-skills .text{
        font-size: 15px;
    }
    .section-skills img{
        width: 200px !important;
    }
    .section-skills .s-cont .cont-left{
        width: 200px;
    }
    .section-portfolio .left{
        margin-right: 20px !important;
    }
    .section-portfolio{
        flex-direction: column;
        height: auto;
        width: 920PX;
    }
    .section-portfolio h2{
        font-size: 40px;
        text-align: center;
    }
    .section-portfolio h5{
        text-align: center;
        margin-bottom: 70px
    }
    .section-portfolio .left{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .section-portfolio .text{
        text-align: center;
    }
    .section-portfolio .text-portf-2{
        margin-bottom: 70px;
    }
    .section-contacts h2{
        font-size: 40px;
    }
    .section-contacts .social{
        margin: 0;
    }
    .section-contacts img{
        width: 50px;
        height: 50px;
    }
    .section-contacts a{
        font-size: 15px;
    }
    .section-form h2{
        font-size: 40px;
        text-align: center;
    }
    .section-form{
        width: 920PX;
    }
    .section-form button{
        height: 52px;
        width: 200px;
        margin-top: 50px;

    }
    footer{
        width: 920px;
    }
    .section-footer{
        width: 720px;
    }
    .section-footer .mid-con{
        margin: 0 150px;
    }
    .section-footer p{
        font-size: 15px;
    }

}
@media (max-width: 320px){
    .container{
        width: 220px
    }
    .container-fluid{
        width: 220px !important;

    }
    nav{
        width: 320px;

    }
    .section-about{
        flex-direction: column-reverse;
        width: 320px;
        height: 800px;
        align-items: center;

    }
    .section-about .right{
        transform: translateY(-70px);

    }
    .section-about img{
        transform: none;
    }
    .section-about .right img#foto2 {
        width: 150px;
        height: auto;
        transform: translateY(-60px) translateX( 5px);
    }
    
    .section-about .right img#foto1 {
        width: 80px;
        height: 100px;
        transform: translateY(-90px) translateX(40px);
    }
    .section-about .right img#foto3 {
        width: 80px;
        height: 100px;
        transform: translateY(80px) translateX(-30px);
    }
    .section-about .left{
        transform: translateY(-200px);
        width: 320px;
        height: 365px;
        
    }
    .section-about .left h2{
        font-size: 30px !important;
    }
    .section-about .left h5{
        font-size: 15px;
    }
    .text .text1{
        width: 320px !important;
    }
    .section-about button{
        width: 100px !important;
        height: 40px !important;
        font-size: 10px;
    }
    .f-cont{
        width: 320px !important;
        height: auto;
    }
    .section-skills img{
        width: 100px !important;
        height: auto;
    }
    .section-skills .s-cont{
        background-size: contain;
        width: 320px;
    }
    .section-skills .f-cont{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .section-skills .s-cont{
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-skills .s-cont .cont-left img{
        height: 150px;
    }
    
    .section-skills h3{
        font-size: 30px;
    }
    .section-skills .cont-left{
        width: 200px;
        margin:0 !important;
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .section-skills .text{
        width: 100px;
        text-align: center;
    }
    .section-skills .cont-right img{
        height: 150px;
    }
    .section-portfolio{
        width: 320px;
    }
    .section-portfolio h2{
        font-size: 30px;
    }
    .section-portfolio h5{
        font-size: 15px;
    }
    .section-portfolio .left{
        width: 320px;
    }
    .section-portfolio .right{
        width: 320px;
    }
    .section-portfolio img{
        width: 220px;
        height: auto;
    }
    .section-portfolio .text{
        width: 220px;
        font-size: 15px;
    }
    .section-portfolio button{
        width: 100px;
        height: 42px;
        font-size: 10px;
    }
    .section-contacts{
        width: 320px;

    }
    .section-contacts h2{
        font-size: 30px;
    }
    .section-contacts .kontakt{
        flex-direction: column;
    }
    .social{
        padding: 20px 0;
        
    }
    .social a{
        font-size: 10px;
    }
    .section-form h2{
        font-size: 30px;
    }
    .section-form h5{
        font-size: 15px;
    }
    .section-form{
        width: 320px;
    }
    .section-form .mini-form{
        width: 100%;
    }
    .section-form input{
        width: 100%;
        height: 42px;
    }
    .section-form button{
        width: 100px;
        height: 42px;
        font-size: 10px;
    }
    footer{
        width: 320px;
    }
        .section-footer{
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
        }
        .section-footer .left-con{
            margin: 10px;
        }
        .section-footer .mid-con{
            padding: 10px;
            border-top: #FDE8D9 2px solid;
        }
        .section-footer .right-con{
            margin: 10px;
            border-top: #FDE8D9 2px solid;
            text-align: center;
        }
        .section-footer checkbox

}